<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="static/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>

    <style>
      .chart-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      }
      .chart-container canvas {
        max-width: 600px;
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <div class="Container">
      <div class="Title">
        <div class="TitleBox">
          <div>Get</div>
          <div>That</div>
          <div>Bread</div>
        </div>
      </div>

      <div>
        <img class="Image" src="static/Images/Logo.png" alt="Bread" />
      </div>
    </div>

    <div>Bread Inflation {{percentage_bread}}%</div>
    <div>Investment Growth {{percentage_investment}}%</div>
    <div class="chart-container">
      <canvas id="myChart"></canvas>
      <canvas id="myChart2"></canvas>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <script>
      var xValues1 = [2024, "{{bread_year}}"];
      var yValues1 = [4.22, "{{inflation}}"];

      var barColors1 = ["#FFA726", "#FB8C00"];

      new Chart("myChart", {
        type: "bar",
        data: {
          labels: xValues1,
          datasets: [{ backgroundColor: barColors1, data: yValues1 }],
        },
        options: {
          legend: { display: false },
          title: { display: true, text: "Bread Inflation" },
          scales: { yAxes: [{ ticks: { beginAtZero: true } }] },
        },
      });

      var xValues2 = [2024, "{{futur_year}}"];
      var yValues2 = ["{{savings}}", "{{total}}"];

      var barColors2 = ["#66BB6A", "#2E7D32"];

      new Chart("myChart2", {
        type: "bar",
        data: {
          labels: xValues2,
          datasets: [{ backgroundColor: barColors2, data: yValues2 }],
        },
        options: {
          legend: { display: false },
          title: { display: true, text: "Investment Growth" },
          scales: { yAxes: [{ ticks: { beginAtZero: true } }] },
        },
      });
    </script>
  </body>
</html>
