<!DOCTYPE html>
<html lang="en">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

<div class="Container">
    <div class="Title">
        <div class="TitleBox">
            <div> Get</div>
            <div> That</div>
            <div> Bread</div>
        </div>
    </div>

    <div>
        <img class="Image" src="static/Images/Logo.png" alt="Bread" />
    </div>
</div>

<div>
     Inflation percentage {{percentage}}%
</div>

<canvas id="myChart" style="width:100%;max-width:600px"></canvas>

<script>
    var xValues = [2024, "{{year}}"];
    var yValues = [4.22, "{{name}}"];
    var barColors = ["green", "red"];
    
    new Chart("myChart", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
        title: {
          display: true,
          text: "Bread Inflation"
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true, // This ensures the Y-axis starts at 0
              // You can also add other properties like stepSize, max, min if needed
            }
          }]
        }
      }
    });
    </script>

</body>
</html>