<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="static/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="Container">
      <div class="Title">
        <div class="TitleBox">
          Get That Bread
        </div>
      </div>

      <div>
        <img class="Image" src="static/Images/Logo.png" alt="Bread" />
      </div>
    </div>

    <br><br>

    <div class="SubTitle">
        <p>
            Bread:
        </p>

        <p class="Investment">
            Investments:
        </p>
    </div>

    <div>
      <form action="/greet" method="get">
        <input
          autocomplete="off"
          autofocus
          name="bread_year"
          placeholder="Year (e.g: 2032)"
          method="get"
          required
        />
        <input
          autocomplete="off"
          autofocus
          name="bread_month"
          placeholder="Month (e.g: 07)"
          method="get"
          required
        />
        <input
          autocomplete="off"
          autofocus
          name="savings"
          placeholder="Savings($)"
          method="get"
          required
        />
        <input
          autocomplete="off"
          autofocus
          name="year"
          placeholder="Year (e.g: 2030)" 
          method="get"
          required
        />
        <input
          autocomplete="off"
          autofocus
          name="month"
          placeholder="Month (e.g: 11)"
          method="get"
          required
        />

        <button type="submit">Submit</button>
      </form>
    </div>
</body>
</html>
